fastapi==0.109.2
uvicorn==0.27.1
pydantic
pydantic-settings>=2.1.0
typing-extensions>=4.8.0
google-generativeai>=0.3.2
PyPDF2>=3.0.0
python-multipart  # for handling file uploads
pydantic[email]
motor>=3.3.2 